body {
  font-family: Arial, sans-serif;
  background: #111;
  color: #fff;
  text-align: center;
}

.app {
  margin-top: 60px;
}

button {
  padding: 15px 25px;
  font-size: 16px;
  margin-top: 20px;
}

.task {
  margin-top: 20px;
  font-size: 18px;
}

input {
  padding: 10px;
  width: 80%;
}
